$dropDownTextBorderRadius: 4px;
$dropdownCaretBackgroundColor: #ffffff;
$dropDownCaretHeight: 19px;
$dropDownInputHeight: 17px;
$optionViewBorderRadius: 4px;
$optionViewZIndex: 2;
$optionZIndex: 2;
$optionHoverBackgroundColor: #4ba7d1;
$dropDownTextBorderColor: #d3d3d3;
$searchInputFocusBorderColor: #96c8da;
$searchInputFocusOutlineColor: #586f78;
$searchInputPaddingLeft: 13px;
$optionViewBackgroundColor: #3a83a4;
$optionViewBorderColor: #393939;
$optionBorderTopColor: #459bc2;

.dropdown-text {
    border: 1px solid $dropDownTextBorderColor;
    border-radius: $dropDownTextBorderRadius;
}

.dropdown-caret {
    display: inline-block;
    vertical-align: middle;
    background-color: $dropdownCaretBackgroundColor;
    height: $dropDownCaretHeight;
}

.dropdown-input {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    border: none;
    padding-left: $searchInputPaddingLeft;
    cursor: pointer;
    &:focus {
        outline: none;
    }
    height: $dropDownInputHeight;
}

.option-view {
    display: block;
    position: absolute;
    z-index: $optionViewZIndex;
    overflow: hidden;
}

.option {
    border-bottom: 1px solid $optionBorderTopColor;
    background-color: $optionViewBackgroundColor;
    padding-left: 13px;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    &:hover{
        background-color: $optionHoverBackgroundColor;
    }
}