$dropDownZIndex: 3;
$dropDownTextPaddingTop: 2px;
$dropDownTextPaddingBottom: 2px;
$dropDownTextPaddingLeft: 2px;
$dropDownTextPaddingRight: 2px;
$dropDownTextBorderRadius: 4px;
$dropdownCaretBackgroundColor: #ffffff;
$dropdownCaretHeight: 22px;
$dropdownCaretWidth: 12px;
$searchInputWidth: 150px;
$searchInputHeight: 20px;
$searchInputFontSize: 16px;
$optionViewWidth: 183px;
$optionViewBorderRadius: 4px;
$optionViewZIndex: 2;
$optionFontSize: 16px;
$optionPaddingLeft: 16px;
$optionPaddingRight: 16px;
$optionPaddingBottom: 6px;
$optionPaddingTop: 6px;
$optionZIndex: 2;
$optionHoverBackgroundColor: #4ba7d1;
$dropDownTextBorderColor: #d3d3d3;
$searchInputFocusBorderColor: #96c8da;
$searchInputFocusOutlineColor: #586f78;
$searchInputPaddingLeft: 13px;
$optionViewBackgroundColor: #3a83a4;
$optionViewBorderColor: #393939;
$optionBorderTopColor: #459bc2;

.dropdown { 
    z-index: $dropDownZIndex;
    position: relative;
}
.dropdown-text {
    padding-top: $dropDownTextPaddingTop;
    padding-bottom: $dropDownTextPaddingBottom;
    padding-left: $dropDownTextPaddingLeft;
    padding-right: $dropDownTextPaddingRight;
    border: 1px solid $dropDownTextBorderColor;
    border-radius: $dropDownTextBorderRadius;
    cursor: pointer;
}
.dropdown-caret {
    display: inline-block;
    vertical-align: middle;
    background-color: $dropdownCaretBackgroundColor;
    height: $dropdownCaretHeight;
    width: $dropdownCaretWidth;
}
.dropdown-input {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: $searchInputWidth;
    height: $searchInputHeight;
    border: none;
    padding-left: $searchInputPaddingLeft;
    font-size: $searchInputFontSize;
    cursor: pointer;
}
.dropdown-input:focus {
    border-color: $searchInputFocusBorderColor;
    outline: $searchInputFocusOutlineColor;
}
.option-view {
    display: block;
    position: absolute;
    width: $optionViewWidth;
    border-radius: $optionViewBorderRadius;
    z-index: $optionViewZIndex;
    overflow: hidden;
}
.option {
    border-bottom: 1px solid $optionBorderTopColor;
    background-color: $optionViewBackgroundColor;
    font-size: $optionFontSize;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding-top: $optionPaddingTop;
    padding-bottom: $optionPaddingBottom;
    padding-left: $optionPaddingLeft;
    padding-right: $optionPaddingRight;
    z-index: $optionZIndex;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    &:hover{
        background-color: $optionHoverBackgroundColor;
    }
}
