$addTodoContainerPadding: 30px;
$addTodoContainerWidth: 700px;
$addTodoContainerColor: #000000;
$addTodoContainerBackgroundColor: #add8e6;
$addTodoTitlePaddingBottom: 10px;
$titleTextFieldWidth: $addTodoContainerWidth;
$descriptionTextFieldWidth: $addTodoContainerWidth;;
$descriptionTextFieldHeight: 96px;
$descriptionTextFieldMaxHeight: 200px;
$descriptionTextFieldMinHeight: 96px;
$descriptionTextFieldResize: vertical;
$titleLabelWidth: $addTodoContainerWidth;;
$titleLabelHeight: 30px;
$titleDescriptionWidth: $addTodoContainerWidth;;
$addButtonContainerWidth: $addTodoContainerWidth;;

.add-todo-container {
    display: flex;
    flex-direction: column;
    padding: $addTodoContainerPadding;
    width: $addTodoContainerWidth;
    color: $addTodoContainerColor;
    background-color: $addTodoContainerBackgroundColor;
}

.title-textfield {
    font-family: inherit;
    width: $titleTextFieldWidth;
    height: $titleLabelHeight;
}

.description-textfield {
    font-family: inherit;
    width: $descriptionTextFieldWidth;
    height: $descriptionTextFieldHeight;
    max-height: $descriptionTextFieldMaxHeight;
    min-height: $descriptionTextFieldMinHeight;
    resize: $descriptionTextFieldResize;
}

.add-todo-title {
    width: $titleLabelWidth;
    padding-bottom: $addTodoTitlePaddingBottom;
}

.description-label {
    width: $titleDescriptionWidth;
}

.add-button-container {
    display: flex;
    justify-Content: right;
    width: $addButtonContainerWidth;
}

.add-todo-form {
    display: flex;
    flex-direction: column;
}
