$addTodoContainerPadding: 30px;
$addTodoContainerWidth: 355px;
$addTodoContainerColor: black;
$addTodoContainerBackgroundColor: lightblue;
$titleTextFieldWidth: 285px;
$titleTextFieldHeight: 20px;
$descriptionTextFieldWidth: 285px;
$descriptionTextFieldHeight: 50px;
$titleLabelWidth: 285px;
$titleDescriptionWidth: 285px;
$addButtonContainerWidth: 285px;
$addButtonWidth: 80px;
$addButtonPadding: 10px;
$addButtonMarginTop:10px;

.add-todo-container {
    margin: 5px auto;
    padding: $addTodoContainerPadding;
    width: $addTodoContainerWidth;
    color: $addTodoContainerColor;
    background-color: $addTodoContainerBackgroundColor;
}

.title-textfield {
    font-family: inherit;
    width: $titleTextFieldWidth;
    height: $titleTextFieldHeight;
}

.description-textfield {
    font-family: inherit;
    width: $descriptionTextFieldWidth;
    height: $descriptionTextFieldHeight;
}

.title-label {
    width: $titleLabelWidth;
}

.description-label {
    width: $titleDescriptionWidth;
}

.add-button {
    margin-top: $addButtonMarginTop;
    padding: $addButtonPadding;
    width: $addButtonWidth;
}

.add-button-container {
    display: flex;
    justify-Content: right;
    width: $addButtonContainerWidth;
}

.add-todo-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
