$boxBorderRadius: 4px;

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box {
    border: 0px;
    border-radius: $boxBorderRadius;
    box-shadow: 1px 1px 5px #808080;
}