$boxBorderRadius: 4px;
$boxShadowLength: 1px;
$boxShadowBlur: 5px;
$boxShadowColor: #808080;

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box {
  border: 0px;
  border-radius: $boxBorderRadius;
  box-shadow: $boxShadowLength $boxShadowLength $boxShadowBlur $boxShadowColor;
}