$toDoListContainerWidth: 100vw;
$toDoListContainerMarginBottom: 100px;
$titleWidth: 300px;
$titleHeight: 20px;
$titlePaddingLeft: 10px;
$descriptionHeight: 100px;
$descriptionPaddingLeft: 10px;
$todolistWidth: 355px;
$todolistPadding: 30px;
$todoContainerPaddingBottom: 30px;
$todoMarginBottom: 10px;
$doneButtonMarginLeft: 5px;
$userNameInputWidth: 150px;
$shareTodoWidth: 228px;
$shareButtonHeight: 26px;
$shareButtonZIndex: 1;

.to-do-list-container {
    display: inline-block;
    width: $toDoListContainerWidth;
    margin-bottom: $toDoListContainerMarginBottom;
}

.title {
    padding-left: $titlePaddingLeft;
    color: black;
    background-color: darkgray;
    width: $titleWidth;
    height: $titleHeight;
    font-weight: bold;
}

.description {
    color: rgb(255, 255, 255);
    background-color: rgb(100,100,100);
    height: $descriptionHeight;
    padding-left: $descriptionPaddingLeft;
}

.todolist {
    display: flex;
    flex-direction: column;
    background-color: lightsteelblue;
    width: $todolistWidth;
    padding: $todolistPadding;
    margin: 0px auto;
}

.todo-container {
    padding-bottom: $todoContainerPaddingBottom;
}

.todo {
    margin-bottom: $todoMarginBottom;
}

.todo-top {
    display: flex;
}

.done-button {
    margin-left: $doneButtonMarginLeft;
}

.shareToDo {
    float: right;
    width: $shareTodoWidth;
}

.user-name-input {
    width: $userNameInputWidth;
}

.share-button {
    position: relative;
    z-index: $shareButtonZIndex;
    height: $shareButtonHeight;
    float: right;
}