$toDoListContainerWidth: 100vw;
$toDoListContainerMarginBottom: 100px;
$titleWidth: 345px;
$titleHeight: 20px;
$titlePaddingLeft: 10px;
$titleTextColor: #000000;
$titleBackgroundColor: #a9a9a9;
$descriptionWidth: 345px;
$descriptionHeight: 100px;
$descriptionPaddingLeft: 10px;
$descriptionTextColor: #ffffff;
$descriptionBackgroundColor: #646464;
$todolistWidth: 355px;
$todolistPadding: 30px;
$todoContainerPaddingBottom: 30px;
$todoMarginBottom: 10px;
$doneButtonMarginLeft: 5px;
$userNameInputWidth: 150px;

.title {
    padding-left: $titlePaddingLeft;
    color: $titleBackgroundColor;
    background-color: $titleBackgroundColor;
    width: $titleWidth;
    height: $titleHeight;
    font-weight: bold;
}

.description {
    color: $descriptionBackgroundColor;
    background-color: $descriptionBackgroundColor;
    width: $descriptionWidth;
    height: $descriptionHeight;
    padding-left: $descriptionPaddingLeft;
}

.todo-container {
    padding-bottom: $todoContainerPaddingBottom;
}

.todo {
    margin-bottom: $todoMarginBottom;
}