.to-do-list-container {
    display: inline-block;
    width: 100vw;
    margin-bottom: 15vh;
}

.title {
    padding-left: 0.5vw;
    color: black;
    background-color: darkgray;
    height: 20px;
    font-weight: bold;
}

.description {
    color: rgb(255, 255, 255);
    background-color: rgb(100,100,100);
    height: 100px;
    padding-left: 0.5vw;
}

.done-button {
    margin-left: 0vw;
    margin: 1vh;
}

.todolist {
    display: flex;
    flex-direction: column;
    background-color: lightsteelblue;
    width: 25vw;
    padding: 2vw;
    margin: 0px auto;
}

.todo-container {
    padding-bottom: 30px;
}