$loginContainerMarginLeft: 250px;
$loginContainerPadding: 100px;
$loginContainerWidth: 250px;
$usernameTextfieldWidth: 250px;
$passwordTextfieldWidth: 250px;
$loginButtonWidth: 120px;
$userNameLabelWidth: 200px;
$passwordLabelWidth: 200px;
$loginButtonPadding: 10px;
$loginButtonMarginTop: 10px;
$loginButtonDivWidth: 250px;

.login-container {
    display: inline-block;
    margin: auto 30vw;
    padding: $loginContainerPadding;
    width: $loginContainerWidth;
    color: black;
    background-color: lightgreen;
}

.username-textfield {
    width: $usernameTextfieldWidth;
}

.password-textfield {
    width: $passwordTextfieldWidth;
}

.username-label {
    width: $userNameLabelWidth;
}

.password-label {
    width: $passwordLabelWidth;
}

.login-button {
    margin-top: $loginButtonMarginTop;
    padding: $loginButtonPadding;
    width: $loginButtonWidth;
}

.login-button-div {
    width: $loginButtonDivWidth;
    display: flex;
    justify-content: right;
}