$loginContainerMarginLeft: 250px;
$loginContainerPadding: 100px;
$loginContainerWidth: 100vw;
$loginFormBackgroundColor: lightGreen;
$usernameTextfieldWidth: 250px;
$passwordTextfieldWidth: 250px;
$loginFormWidth: 250px;
$loginFormPadding: 30px;
$loginButtonWidth: 120px;
$userNameLabelWidth: 200px;
$passwordLabelWidth: 200px;
$loginButtonPadding: 10px;
$loginButtonMarginTop: 10px;
$loginButtonDivWidth: 250px;

.login-container {
    display: flex;
    justify-content: center;
    padding-top: $loginContainerPadding;
    padding-bottom: $loginContainerPadding;
    width: $loginContainerWidth;
    color: black;
}

.login-form {
    width: $loginFormWidth;
    background-color: $loginFormBackgroundColor;
    padding: $loginFormPadding;
}

.username-textfield {
    width: $usernameTextfieldWidth; 
}

.password-textfield {
    width: $passwordTextfieldWidth;
}

.username-label {
    width: $userNameLabelWidth;
}

.password-label {
    width: $passwordLabelWidth;
}

.login-button {
    margin-top: $loginButtonMarginTop;
    padding: $loginButtonPadding;
    width: $loginButtonWidth;
}

.login-button-div {
    width: $loginButtonDivWidth;
    display: flex;
    justify-content: right;
}