.add-todo-container {
    display: flex;
    margin: 0 auto;
    padding: 1vw;
    width: 20vw;
    color: black;
    background-color: lightblue;
}

.title-textfield {
    width: 18vw;
}

.description-textfield {
    width: 18vw
}

.title-label {
    width: 10vw;
}

.description-label {
    width: 10vw;
}

.add-button {
    margin-top: 2vh;
    padding: 1vh;
    width: 6vw;
}

.add-button-div {
    width: 15vw;
    display: flex;
    justify-Content: right;
}