.add-todo-container {
    margin: 5px auto;
    padding: 2vw;
    width: 25vw;
    color: black;
    background-color: lightblue;
}

.title-textfield {
    width: 20vw;
}

.description-textfield {
    width: 20vw;
}

.title-label {
    width: 20vw;
}

.description-label {
    width: 20vw;
}

.add-button {
    margin-top: 2vh;
    padding: 1vh;
    width: 6vw;
}

.add-button-container {
    display: flex;
    justify-Content: right;
    width: 20vw;
}

.add-todo-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
