.signup-container {
    display: inline-block;
    margin-left: 30vw;
    padding: 7vw;
    width: 20vw;
    color: black;
    background-color: lightgreen;
}

.username-textfield {
    width: 15vw;
}

.password-textfield {
    width: 15vw;
}

.username-label {
    width: 10vw;
}

.password-label {
    width: 10vw;
}

.signup-button {
    margin-top: 2vh;
    padding: 1vh;
    width: 10vw;
}

.signup-button-div {
    width: 15vw;
    display: flex;
    justify-content: right;
}