$signupContainerMarginLeft: 250px;
$signupContainerPadding: 100px;
$signupContainerWidth: 100%;
$signupContainerHeight: 70vh;
$signupContainerBackgroundColor: #cbe3e5;
$signupFormBackgroundColor: #5f9ea0;
$signupTextFieldWidth: 250px;
$signupErrorMesageWidth: 228px;
$signupTextFieldHeight: 30px;
$signupTextfieldMarginBottom: 10px;
$signupFormWidth: 260px;
$signupFormHeight: 260px;
$signupFormWithUsernameErrorHeight: 320px;
$signupFormWithPasswordErrorHeight: 350px;
$signupFormWithUsernamePasswordErrorHeight: 400px;
$signupFormPaddingLeft: 70px;
$signupFormPaddingRight: 70px;
$signupFormPaddingTop: 50px;
$signupFormPaddingBottom: 50px;
$signupFormBorderRadius: 4px;
$signupButtonWidth: 120px;
$signupLabelWidth: 200px;
$signupLabelMarginBottom: 5px;
$signupLabelColor: #d5e3ec;
$signupButtonPadding: 10px;
$signupButtonMarginTop: 10px;
$signupButtonDivWidth: 250px;
$signupButtonColor: #3856b3;
$signupButtonTextColor: #eaeef8;
$signupButtonBorder: 0px;
$signupButtonBorderRadius: 4px;
$signupButtonTextFontWeight: bold;
$signupHeaderFontSize: 35px;
$signupHeaderFontWeight: bold;
$signupHeaderPaddingBottom: 20px;
$signupHeaderColor: #d5e3ec;
$errorMessageBackgroundColor: #c36060;
$errorMessagePadding: 15px;
$errorMessageFontSize: 13px;
$errorMessageMarginTop: 3px;
$errorMessageBorderRadius: 5px;
$signupTextFieldPaddingLeft: 5px; 
$signupTextFieldPaddingRight: 5px; 
$signupTextFieldBorderRadius: 4px;

.signup-container {
    display: flex;
    justify-content: center;
    padding-top: $signupContainerPadding;
    padding-bottom: $signupContainerPadding;
    width: $signupContainerWidth;
    height: $signupContainerHeight;
    color: black;
    background-color: $signupContainerBackgroundColor;
}

.signup-form {
    width: $signupFormWidth;
    height: $signupFormHeight;
    background-color: $signupFormBackgroundColor;
    padding-left: $signupFormPaddingLeft;
    padding-right: $signupFormPaddingRight;
    padding-top: $signupFormPaddingTop;
    padding-bottom: $signupFormPaddingBottom;
    margin: auto;
    border-radius: $signupFormBorderRadius;
}

.password-errors {
    @extend .signup-form;
    height: $signupFormWithPasswordErrorHeight;
}

.username-errors {
    @extend .signup-form;
    height: $signupFormWithUsernameErrorHeight;
}

.username-password-errors {
    @extend .signup-form;
    height: $signupFormWithUsernamePasswordErrorHeight;
}

.signup-textfield {
    width: $signupTextFieldWidth;
    height: $signupTextFieldHeight;
    padding-left: $signupTextFieldPaddingLeft; 
    padding-right: $signupTextFieldPaddingRight;
    border-radius: $signupTextFieldBorderRadius; 
    padding-right: $signupTextFieldPaddingRight;  

}

.signup-label {
    display: inline-block;
    width: $signupLabelWidth;
    margin-bottom: $signupLabelMarginBottom;
    color: $signupLabelColor;
}

.signup-button {
    background-color: $signupButtonColor;
    color: $signupButtonTextColor;
    margin-top: $signupButtonMarginTop;
    padding: $signupButtonPadding;
    width: $signupButtonWidth;
    border: $signupButtonBorder;
    font-weight: $signupButtonTextFontWeight;
    border-radius: $signupButtonBorderRadius;
}

.signup-button-div {
    display: flex;
    justify-content: right;
}

.signup-header {
    font-size: $signupHeaderFontSize;
    font-weight:  $signupHeaderFontWeight;
    padding-bottom: $signupHeaderPaddingBottom;
    color: $signupHeaderColor;
}

.error-message {
    background-color: $errorMessageBackgroundColor;
    width: $signupErrorMesageWidth;
    padding: $errorMessagePadding;
    font-size: $errorMessageFontSize;
    margin-top: $errorMessageMarginTop;
    margin-bottom: $errorMessageMarginTop;
    border-radius: $errorMessageBorderRadius;
}