$usernameTextfieldWidth: 200px;
$passwordTextfieldWidth: 280px;
$usernameLabelWidth: 200px;
$passwordLabelWidth: 200px;
$signupButtonMarginTop: 20px;
$signupButtonPadding: 10px;
$signupButtonWidth: 100px;
$signupButtonDiv: 222px;
$signupContainerPadding: 100px;
$signupContainerWidth: 250px;
$signupContainerBackgroundColor: lightgreen;

.signup-container {
    display: inline-block;
    margin: auto 30vw;
    padding: $signupContainerPadding;
    width: $signupContainerWidth;
    color: black;
    background-color: $signupContainerBackgroundColor;
}

.username-textfield {
    width: $usernameTextfieldWidth;
}

.password-textfield {
    width: $passwordTextfieldWidth;
}

.username-label {
    width: $usernameLabelWidth;
}

.password-label {
    width: $passwordLabelWidth;
}

.signup-button {
    margin-top: $signupButtonMarginTop;
    padding: $signupButtonPadding;
    width: $signupButtonWidth;
}

.signup-button-div {
    width: $signupButtonDiv;
    display: flex;
    justify-content: right;
}