$toDoListContainerWidth: 100vw;
$toDoListContainerMarginBottom: 100px;
$descriptionHeight: 100px;
$descriptionPaddingLeft: 10px;
$todolistWidth: 355px;
$todolistPadding: 30px;
$todoContainerPaddingBottom: 30px;
$todoMarginBottom: 10px;
$doneButtonMarginLeft: 5px;
$shareButtonMarginLeft: 5px;
$shareTodoWidth: 165px;

.to-do-list-container {
    display: inline-block;
    width: $toDoListContainerWidth;
    margin-bottom: $toDoListContainerMarginBottom;
}

.title {
    color: black;
    background-color: darkgray;
    font-weight: bold;
}

.description {
    color: #ffffff;
    background-color: #646464;
    height: $descriptionHeight;
    padding-left: $descriptionPaddingLeft;
}

.todolist {
    display: flex;
    flex-direction: column;
    background-color: lightsteelblue;
    width: $todolistWidth;
    padding: $todolistPadding;
    margin: 0px auto;
}

.todo-container {
    padding-bottom: $todoContainerPaddingBottom;
}

.todo {
    margin-bottom: $todoMarginBottom;
}

.todo-top {
    display: flex;
}

.done-button {
    width: 55px;
    margin-left: $doneButtonMarginLeft;
}

.share-todo {
    width: $shareTodoWidth;
    float: right;
}

.todo-bottom {
    display: flex;
}

.share-button {
    margin-left: $shareButtonMarginLeft;
}