$headerContainerWidth: 100vw;
$headerHeight: 48px;
$signoutButtonContainerMarginRight: 140px;
$signoutButtonContainerPaddingRight: 5px;
$usernameContainerMarginRight: 140px;
$usernameContainerMarginBottom: 10px;
$headerContainerBackgroundColor: #1381b6;
$usernamePadding: 10px;

.header-container {
    display: flex;
    justify-content: flex-end;
    width: $headerContainerWidth;
    height: $headerHeight;
    color: black;
    background-color: $headerContainerBackgroundColor;
}

.signout-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: $signoutButtonContainerPaddingRight;
}

.username-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: $usernamePadding;
}
