$headerContainerWidth: 100vw;
$headerHeight: 75px;
$signoutButtonContainerPaddingRight: 10px;
$usernameContainerPaddingTop: 10px;
$usernameContainerPaddingRight: 10px;
$usernameContainerPaddingBottom: 10px;
$headerContainerBackgroundColor: #1381b6;

.header-container {
    display: flex;
    flex-direction: row;
    width: $headerContainerWidth;
    height: $headerHeight;
    color: black;
    background-color: $headerContainerBackgroundColor;
}

.topbar-right {
    padding-right: $signoutButtonContainerPaddingRight;
}

.username-container {
    display: flex;
    justify-content: right;
    padding-top: $usernameContainerPaddingTop;
    padding-right: $usernameContainerPaddingRight;
    padding-bottom: $usernameContainerPaddingBottom;
    font-weight: bold;
}

.topbar-left {
    width: 70px;

    img {
        height: 70px;
        width: 70px;
        padding-left: 10px;
    }
}

.topbar-center {
    width: 80vw;
}