$headerContainerWidth: 100vw;
$headerHeight: 75px;
$signoutButtonContainerPaddingRight: 40px; 
$usernameContainerPaddingTop: 10px;
$usernameContainerPaddingRight: 40px;
$usernameContainerPaddingBottom: 10px;
$headerContainerBackgroundColor: #1381b6;

.header-container {
    width: $headerContainerWidth;
    height: $headerHeight;
    color: black;
    background-color: $headerContainerBackgroundColor;
}

.signout-button-container {
    display: flex;
    justify-content: right;
    padding-right: $signoutButtonContainerPaddingRight; 
}

.username-container {
    display: flex;
    justify-content: right;
    padding-top: $usernameContainerPaddingTop;
    padding-right: $usernameContainerPaddingRight;
    padding-bottom: $usernameContainerPaddingBottom;
    font-weight: bold;
}