$headerContainerWidth: 100vw;
$headerHeight: 65px;
$signoutButtonContainerMarginRight: 140px; 
$usernameContainerMarginRight: 140px;
$usernameContainerMarginBottom: 10px;
$headerContainerBackgroundColor: #1381b6;

.header-container {
    width: $headerContainerWidth;
    height: $headerHeight;
    color: black;
    background-color: $headerContainerBackgroundColor;
}

.signout-button-container {
    display: flex;
    justify-content: right;
    margin-right: $signoutButtonContainerMarginRight; //ToDo: better way to set the margin or spacing
}

.username-container {
    display: flex;
    justify-content: right;
    margin-right: $usernameContainerMarginRight;
    margin-bottom: $usernameContainerMarginBottom;
    font-weight: bold;
}