$toDoListContainerWidth: 100vw;
$toDoListContainerMarginBottom: 100px;
$descriptionHeight: 100px;
$descriptionPaddingLeft: 10px;
$descriptionColor: #ffffff;
$descriptionBackgroundColor: #646464;
$titleColor: #000000;
$titleBackgroundColor: #a9a9a9;
$todolistWidth: 355px;
$todolistPadding: 30px;
$todolistBackgroundColor: #b0c4de;
$todoContainerPaddingBottom: 30px;
$todoMarginBottom: 10px;
$doneButtonMarginLeft: 5px;
$doneButtonWidth: 55px;
$shareButtonMarginLeft: 5px;

.to-do-list-container {
    display: inline-block;
    width: $toDoListContainerWidth;
    margin-bottom: $toDoListContainerMarginBottom;
}

.title {
    color: $titleColor;
    background-color: $titleBackgroundColor;
    font-weight: bold;
}

.description {
    color: $descriptionColor;
    background-color: $descriptionBackgroundColor;
    height: $descriptionHeight;
    padding-left: $descriptionPaddingLeft;
}

.todolist {
    display: flex;
    flex-direction: column;
    background-color: $todolistBackgroundColor;
    width: $todolistWidth;
    padding: $todolistPadding;
    margin: 0px auto;
}

.todo-container {
    padding-bottom: $todoContainerPaddingBottom;
}

.todo {
    margin-bottom: $todoMarginBottom;
}

.todo-top {
    display: flex;
}

.done-button {
    width: $doneButtonWidth;
    margin-left: $doneButtonMarginLeft;
}

.share-todo {
    display: flex;
    float: right;
}

.todo-bottom {
    display: flex;
    justify-content: space-between;
}

.share-button {
    margin-left: $shareButtonMarginLeft;
}